*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
html,body{
  width: 100%;
  height: 100%;
}
.box{
  height: 200px;
  width: 200px;
  background-color: lightseagreen;
  margin-bottom: 10;
  font-size: 500;
}