*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: black;
}
body{
    border-color: black;
    padding: 10px;
}
main{
    height: 100%;
    width: 100%;
    background: linear-gradient(gray,black);
    padding: 20px;
}
section{
    height: 100%;
    width: 350px;
    background-color: black;
    border-radius: 10px;
    margin: auto;
    /* overflow: hidden; */
}
.all-reels{
    height: 100%;
    width: 100%;
}
.reel{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: lightseagreen;
    /* overflow: hidden; */
    border-radius: 10px;
}
.reel img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.reel .bottom{
    padding: 25px 25px;
    background:linear-gradient(rgb(0,0,0,0),rgb(0,0,0,0)) ;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.bottom .user img{
 height: 30px;
 width: 30px;
 border-radius: 50%;
 object-fit: cover;
}
.bottom .user h4{
    font-size: 15px;
    font-weight: 500;
}
.bottom .user button{
    background-color: transparent;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid white;
}
.bottom>h3{
    font-weight: 500;
    font-size: 15px;
}
.right{
    width: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* align-items: center; */
    text-align: center;
    position: absolute;
    right: 0;
    /* height: 100%; */
    /* transform: translateX(100%); */
    bottom: 12px;
    /* background:linear-gradient(to right, transparent, black) ; */
}
.right.icon{
    background-color: gray;
}
.right i{
    font-size: 25px;
    font-weight: 500;
}
.right h6{
    font-size: 18px;
    font-weight: 500;
}
.right>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}