*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
  /* color: white; */
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  background-color: black;
  padding: 20px;
}
.user-card{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}