*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #box{
    height: 200px;
    width: 200px;
    background-color:lightseagreen;
}
img{
    height: 40px;

}
#main{
    height: 100%;
    width: 100%;
    background-color: #000;
}
#cursor{
    height: 20px;
    position: fixed;
    transform: translate(-50%, -50%);
} */
h1{
    font-size: 100px;
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    font-family: monospace;
    text-align: center;
}