*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}




.h-10{
    height: 200px;
}
.w-10{
    width: 200px;
}
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: blue;
}