*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
  color: white;
}
html,body{
  width: 100%;
  height: 100%;
}
h1{
  font-size: 100px;
  font-weight: 600;
  position: absolute;
  top: 50vh;
  left: 50vw;
  text-decoration: underline;
  transform: translate(-50%,-50%);
}