.home {
  min-height: 100vh;
  background: linear-gradient(135deg,#0f172a,#1e293b);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.home-container{
  width: 90%;
  max-width: 900px;
  background: #1e293b;
  padding: 2rem;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.title{
  font-size: 2rem;
  color: white;
  margin-bottom: 0.5rem;
}

.subtitle{
  color: #cbd5f5;
  margin-bottom: 2rem;
}

.expression-box{
  margin-bottom: 2rem;
}

.player-box{
  margin-top: 1rem;
}