*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
    padding: 10px;
}
/* #outer{
    height: 500px;
    width: 500px;
    background-color: lightseagreen;
}
#inner1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: royalblue;
} */
/* #inner2{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: crimson;
} */

.elem{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    margin-top: 10px;
}
button{
    background-color: royalblue;
    color: #fff;
    padding: 20px;
}