*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}

.allProduct{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.799);
}
.product{
  align-items: center;
  /* background-color: white; */
  background-color: black;
 display: block;
 width: 300px;
 padding: 20px;

}
.product img{
  height: 200px;
}
.product h2{
  font-size: 20px;
  margin-top: 20px;
}