*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;


}
button{
    padding: 10px 20px;
    background-color: lightseagreen;
    font-size: 900;
    background-color: crimson;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    position: relative;
    z-index: 9;
}
button:active{
    scale: 0.95;
}