*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url(https://plus.unsplash.com/premium_photo-1673240367277-e1d394465b56?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bW91bnRhaW58ZW58MHx8MHx8fDA%3D);
    background-size: cover;
}
:root {
    /* --red: rgb(33 ,144, 8); */
    --x: 400px;
    --y: 400px;
}
.box{
    height: 100%;
    width: 100%;
    /* border-radius: 1px solid white; */
    /* background: linear-gradient(to right , white,red,purple); */
    /* background: radial-gradient(300px at 100px 100px, red, blue); */
    /* background-color: var(--red); */
    background: radial-gradient(150px at var(--x) var(--y), rgba(255, 255, 255), rgba(0, 0, 0));
}