*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;

    section{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        .top{
            width: 100%;
        }
    }
}