*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
#bulb{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 4px solid #000;
    /* background-color: yellow; */
}
button{
    padding: 10px 20px;
    font-size: 20px;
    margin: 50px;
}